@import 'https://cdn.jsdelivr.net/npm/water.css@2/out/water.css';

:root {
    line-height: 1.1;
    font-size: 1.1em;
}

body {
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-size: 1.5em;
    color: #F5C18D;
}

footer {
    border-top: 1px solid #d5d5d5;
}

nav a {
    color: #F5C18D !important; /* Force the link color in the nav */
}

footer a {
    color: #F5C18D !important; /* Force the link color in the footer */
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
