---
layout: default
title: Saving Grace
---

    <h1>{{ page.title }}</h1>

    <a href="http://gracekwak.me/feed.xml" class="feed">RSS</a>

    <div class="blurb">
        <p>I like to write. When it comes to personal matters, I've found that the act of writing <i>saves me from myself</i> in a way that nothing else can (hence the title of this blog: Saving Grace).</p>
        <p>My day-to-day writing is spread across my computer's hard drive, my brain's memory, my physical journals + letters, and myriad messaging apps. Most of it is ephemera that I won't bother to upload here but every so often, I surprise myself with words of wisdom that I want to keep for my future self and share with readers like you.</p>
        <p>Here are some of those words.</p>
        <p>(Actually, I might include some ephemera in this blog too, just because.)</p>
    </div><!-- /.blurb -->

  </br>

	<ul class="posts">

	  {% for post in site.posts %}
	    <li>
        <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      </br>
        <span style="color:#f18800; font-size:0.8em">
          {{ post.date | date_to_string }} &nbsp;&nbsp;
            {% for tag in post.tags %}
              #{{ tag }}
            </a>
            {% endfor %}
        </span> 
      </li>
    </br>
	  {% endfor %}
	</ul>
