<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			 <link rel="stylesheet" type="text/css" href="/css/main.css">
			 <link href='http://gracekwak.me/feed.xml' rel='alternate' type='application/atom+xml'>
		</head>
		<body>
			<nav>
			    <ul>
	        		<li><a href="/">Home</a></li>
					<li><a href="/blog">Blog</a></li>
		        	<li><a href="/personal">Personal</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			<!li-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:gracekwak@ucla.edu">email</a></li>
	        		<li><a href="https://github.com/grkw">github</a></li>
					<li><a href="https://www.linkedin.com/in/grace-j-kwak/">linkedin</a></li>
				</ul>
				<a href="https://nonbot.org/pledged/view/9d7d1b44-cc83-4463-84c1-7a9d4834881f" target="_blank">
					<img style="height:64px;margin-top:10px;margin-bottom:10px;" src="https://nonbot.org/images/nonbot_pledged_logo.svg" alt="Human-made Content">
                </a>
                <a href="https://www.htmlhobbyist.com/">
                    <img src="/assets/img/html-hobbyist-badge.svg" height="75" width="75" alt="I am an HTML Hobbyist" />
                </a>
                <a href="https://notbyai.fyi/">
                    <img src="/assets/img/Written-By-Human-Not-By-AI-Badge-black@2x.png" alt="Written By Human Not By AI" />
                </a>
			</footer>
		</body>
	</html>
