<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link href='http://gracekwak.me/feed.xml' rel='alternate' type='application/atom+xml'>
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/personal">Personal</a></li>
			<li><a href="/recs">Recs</a></li>
			<li><a href="/allyship">Allyship</a></li>
			<li><a href="/site">Site</a></li>
		</ul>
	</nav>
	<div class="container">

		{{ content }}

</body>

</html>