<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> -->
			 <link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
			    <ul>
	        		<li><a href="/">Home</a></li>
					<li><a href="/blog">Blog</a></li>
		        	<li><a href="/personal">Personal</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			<!li-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="gracekwak@ucla.edu">email</a></li>
	        		<li><a href="https://github.com/grkw">github.com/grkw</a></li>
					<li><a href="https://www.linkedin.com/in/grace-j-kwak/">linkedin.com/in/grace-j-kwak</a></li>
				</ul>
			</footer>
		</body>
	</html>
